<ng-container *transloco="let t">

    <spiderly-button label="Save products to db" (onClick)="saveProductsToDb()"></spiderly-button>

    <!-- <div style="display: flex;"> -->
        <div style="margin-top: 20px; margin: auto; width: 800px; border: solid; padding: 10px; display: flex; flex-direction: column; gap: 10px;">
            <div *ngFor="let message of chat"> 
                @if (message.role == agentMessageCode) {
                    <markdown style="left: 0; padding: 5px; width: fit-content;">
                        {{message.content}}
                    </markdown>
                }
                @else {
                    <div style="margin-left: auto; border: solid; padding: 5px; width: fit-content;">
                        {{message.content}}
                    </div>
                }
            </div>
        </div>
    <!-- </div> -->

    <div style="position: absolute; bottom: 100px; width: 100%;">
        <textarea pInputText [(ngModel)]="prompt" style="width: 100%;"></textarea>
        <spiderly-button label="Send" (onClick)="sendMessage()"></spiderly-button>
    </div>

    <!-- <div style="position: absolute; right: 10px; bottom: 10px; border: 1px red solid; width: 400px; height: 400px;">
        {{response}}
        <div style="position: absolute; bottom: 0; width: 100%;">
            <textarea pInputText [(ngModel)]="prompt" style="width: 100%;"></textarea>
            <spiderly-button label="Send" (onClick)="sendMessage()"></spiderly-button>
        </div>
    </div> -->
</ng-container>
